@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

$color1: #a67245;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: purple;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
