@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

$color1: #a67245;
$color2: #eeeeee;
$color3: #a9a69e;
$color4: #21201e;
$color5: black;
$color6: white;
$color7: rgb(196, 195, 195);
$font1: "allura";
$font2: "poppins";
$font3: "roboto";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
